* {
    margin: 0;
    padding: 0;
}
/*estilizando o menu*/
.menu {
    background-color: #C78CD0;
    overflow: hidden;
  }
  
  .menu a {
    float: left;
    color: #FCE9C9;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Adicionar cor de links ao passar o mouse */
  .menu a:hover {
    background-color: #FCCBDE;
    color: #F19C9F;
  }

  /*Estilizando Home*/

body{
    font-family: 'Roboto Mono', monospace;
    background-color: #FCCBDE;
}

.sobre-mim{
  margin-left: 10%;
}

.titulo{
  color: #F19C9F;
}

#may-pic{
    margin-top: 5%;
    margin-left: 10%;
    width: 150px;
    border-radius:100%; 
}

.flex-container{
  margin: 3%;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-flow: row wrap; 
  justify-content: center;
  align-items: center;
}

.flex-container > div {
    width: 50%;
}

.justificar {
  text-align: justify;
  font-size: 18px;
}

.flex-container > div > img { 
  width: 70%;
  margin-left: 29%;
  align-items: flex-start;
  border-radius: 2%;
  border: 3px solid #FCE9C9;
}

/*Estilização do vídeo*/

.video-preferido{
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

iframe.video{
  margin-top: 4%;
  border: 5px solid #FCE9C9;
  border-radius: 2%;
  border-color: #FCE9C9;
}

/*Aplicando estilo à página de contato*/

.flex-container-contato{
  margin: 3%;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-flow: row wrap; 
  justify-content: center; 
  align-items: center;
}

.flex-container-contato > div {
  width: 50%;
}

.titulo-contato{
  color: #F19C9F;
  margin-bottom: 2%;
}

input {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 93%;
  padding: 5px;
  border: 2px solid #FCE9C9;
  border-radius: 2%;
  border-color: #FCE9C9;
}

textarea {
  margin-top: 10px;
  width: 91%;
  padding: 10px;
  border: 2px solid #FCE9C9;
  border-radius: 2%;
  border-color: #FCE9C9;
}

button{
  margin-top: 20px;
  width: 20%;
  height: 30px; 
  border: 2px solid #FCE9C9;
  background-color: #FCE9C9;
  color:#C78CD0; 
}

button:hover {
  border-color: #F19C9F;
  background-color: #F19C9F;
  color: #FCE9C9 ;
}

/*Localização - mapa */

.flex-container-contato > div > .localizacao {
  color: #F19C9F;
  margin-bottom: 1.8%;
  margin-left: 20px;

}

.flex-container-contato > div > p{
  margin-left: 20px;
  margin-top: 2%;
}
.flex-container-contato > div > iframe {
  margin-top: 10px;
  margin-bottom: 47px;
  margin-left: 20px;
  border: 2px solid #FCE9C9;
  border-radius: 2%;
  border-color: #FCE9C9;
}